<div class="alert alert-danger col-4 offset-4 "style="margin-top:30px;" *ngIf="errdb">{{errmsg}}</div>
<div class="alert alert-danger col-4 offset-4 "style="margin-top:30px;" *ngIf="successdb">
  success
</div>

<div class="card col-4 offset-4 " style="margin-top:150px;padding: 15px">
    <div class="col-12 row" >
        <input type="email" placeholder="Enter your Email" class="form-control col-12" [(ngModel)]="email">
        <input type="password" placeholder="Enter your password" class="form-control col-12"  
        [(ngModel)]="password"
        style="margin-top:15px;">
        <div class="col-12 btn btn-success" style="margin-top:15px;" (click)="login()">Login</div>
        <div class="col-12 btn btn-primary" style="margin-top:15px;" [routerLink]="['/register']">Register</div>

    </div>
  
  </div>
