<div class="alert alert-danger col-4 offset-4 "style="margin-top:30px;" *ngIf="errdb">{{errmsg}}</div>
<div class="alert alert-danger col-4 offset-4 "style="margin-top:30px;" *ngIf="successdb">
  success
</div>

<div class="card col-4 offset-4 ">
    <div class="col-12 row" style="padding-right: 0 ">
        <input type="text" placeholder="Enter your Firstname" class="form-control col-6" [(ngModel)]="f_name">
        <input type="text" placeholder="Enter your Lastname" class="form-control col-6" [(ngModel)]="l_name"
       >
        <input type="email" placeholder="Enter your Email" class="form-control col-12" [(ngModel)]="email" 
        style="margin-top:15px;">
        <input type="password" placeholder="Enter your password" class="form-control col-12"  
        [(ngModel)]="password"
        style="margin-top:15px;">
        <div class="col-12 btn btn-success font-fun" style="margin-top:15px;" (click)="register()">Rgister 😍</div>
        <div class="col-12 btn btn-primary font-fun" style="margin-top:15px;" [routerLink]="['/login']">Login 😉</div>
    </div>
  
  </div>
